/* Hero */
@media (min-width: 768px){
    .hero__paragraph{
        font-size: 3.3rem;
    }
}
.platforms{
    display: flex;
    justify-content: center;
}
.platforms__content{
    display: flex;
    justify-content: center;
    background-color: var(--white);
    margin-top: -6rem;
    padding-top: 1.3rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.7); 
    box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.7);
    width: 90%;
}
.platforms__img{
    width: 90%;
}

/* Highlights */
.highlights,
.highlights__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3rem 0;
}
.highlights__text{
    width: 80%;
}
.highlights__title{
    width: 90%;
    font-size: 2.7rem;
    color: #606060;
}
.highlights__paragraph{
    line-height: 1.2;
    color: #606060;
}
.highlights__paragraph span{
    display: block;
}
.highlights__cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.highlights__card{
    padding: 0 2rem;
}
.highlights__card_title{
    font-size: 2.2rem;
    color: #606060;
}
.highlights__card_paragraph{
    color: #606060;
    line-height: 1.2;
}
/* Card work */
.card_work{
    margin-top: 15rem;
    background-image: url(../../images/h_25.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 28em;
    color: var(--white);
    position: relative;
    z-index: 0;
}
.card_work__content{
    position: relative;
    z-index: 1;
    grid-column: 1/3;
}
.card_work__card{
    position: absolute;
    width: 32rem;
    text-align: center;
    padding: 5rem 2rem;
    border-radius: 20% 0 0 0;
    height: 47rem;
    z-index: 99;
}
.card_work__card:nth-child(1){
    background-color: #675DDA;
    border-bottom: 1rem solid #6E62E8;
    margin-top: -10rem;
}
.card_work__card:nth-child(2){
    background-color: #EAB33E;
    border-bottom: 1rem solid #C6891E;
    margin-top: -21rem;
}
.card_work__card:nth-child(3){
    background-color: #F3487D;
    border-bottom: 1rem solid #DE4574;
    margin-top: -10rem;
}
.card_work__title{
    padding-top: 2rem;
    text-transform: uppercase;
    font-size: 2.7rem;
    padding-bottom: 2rem;
    font-weight: 800;
    word-wrap: break-word;
}
.card_work__title span{
    display: block;
}
.card_work__paragraph{
    line-height: 1.2;
    font-size: 1.5rem;
}

#carousel {
    height: 55rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 3;
    --middle: 2;
    --position: 1;
    pointer-events: none;
}
@media (min-width: 991px){
    .first{
        --position: 2;
    }
    .card_work__card:nth-child(1){
        left: 0;
    }
    .card_work__card:nth-child(3){
        right: 0;
    }
}
/* Works */
.works{
    margin-top: 8rem;
    text-align: center;
}
.works__title{
    font-size: 3.9rem;
    color: #675DDA;
    font-weight: 800;
}
.works__text span{
    text-transform: uppercase;
    color: #606060;
}
.works__cards{
    margin-top: 7rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.works__card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E6E6E6;
}
.works__card:nth-child(1){
    height: 71.5rem;
    grid-row: 1/3;
}
.works__card:nth-child(4){
    grid-column: 2/4;
}
/* FAQ */
.faq{
    margin-top: 8rem;
}
.faq__content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 4rem;
}
.faq__single{
    padding: 2rem 3rem;
    box-shadow: 0px 0px 20px -16px rgba(0,0,0,0.60);
    -webkit-box-shadow: 0px 0px 20px -16px rgba(0,0,0,0.60);
    -moz-box-shadow: 0px 0px 20px -16px rgba(0,0,0,0.60);
    border-radius: 20px;
}
.faq__single_top,
.faq__multi_single{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.faq__single_title{
    font-size: 2.2rem;
    color: #6E62E8;
}
.faq__single_icon,
.faq__multi_icon{
    width: 3rem;
}
.faq__multi_single{
    margin: 1rem 0 1.8rem 0;
}
.faq__single__text{
    line-height: 1.2;
    color: #606060;
}
.faq__multi_title{
    font-size: 2rem;
    font-weight: 400;
    color: #606060;
    padding-right: 1rem;
}
.mobile_c{
    display: none;
}

@media (max-width: 1100px){
    .faq{
        padding: 0 4rem;
    }
}

@media (max-width: 990px){
    .card_work{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 42rem;
    }
    .first{
        --position: 1;
    }
    .second{
        --position: 2;
    }
    .last{
        --position: 3;
    }
    .item {
        position: absolute;
        width: 300px;
        --r: calc(var(--position) - var(--offset));
        transition: all 0.25s linear;
        transform: translateX(calc(-350px * var(--r)));
    }
    
    #it1{
        --offset: 1;
    }
    
    #it2{
        --offset: 2;
    }
    
    #it3 {
        --offset: 3;
    }
    .card_work__card:nth-child(1),
    .card_work__card:nth-child(2),
    .card_work__card:nth-child(3){
        margin-top: -6rem !important;
    }
    .slider__btn {
        position: absolute;
        top: 35%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    #back{
        position: absolute;
        right: 0;
        top: 35%;
        display: none;
    }
    
    .slider__icon{
        width: 12rem;
    }
    #carousel {
        height: 55rem;
        width: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
        position: relative;
        z-index: 0;
    }
    .mobile_c{
        display: block;
    }
    .container{
        width: 100% !important;
    }
    .highlights__cards{
        padding: 0 2rem;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
    }
    .works{
        margin-top: 15rem;
    }
    .works__cards{
        grid-template-columns: repeat(2, 1fr);
        height: 20rem;
    }
    .works__card{
        height: 25rem;
    }
    .works__card:nth-child(1){
        display: none;
    }
    .works__card:nth-child(4){
        grid-column: 1/3;
    }
    /* FAQ */
    .faq{
        margin-top: 37rem;
        padding: 0;
    }
    .faq__content{
        grid-template-columns: repeat(1, 1fr);
    }
    .faq__multi{
        padding: 0 2rem;
        grid-row: 1;
    }
    .faq__single{
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
        -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
        border-radius: 0px;
    }
}

@media (max-width: 768px){
    .mobile_c{
        display: grid;
    }
    .desktop{
        display: none;
    }
    /* Platforms */
    .platforms__img{
        width: 100%;
    }
    /* highlights */
    .highlights__text{
        padding: 0 1rem;
        width: 100%;
    }
    .highlights__title{
        margin-top: 2rem;
        font-size: 2.4rem;
    }
    .highlights__paragraph span{
        margin: 0 auto;
        width: 80%;
        font-size: 1.5rem;
    }
    .highlights__cards{
        margin-top: 3rem;
    }
    .highlights__card_title{
        font-size: 1.9rem;
    }
    .highlights__card_paragraph{
        font-size: 1.4rem;
    }
    .hero__info{
        width: 80%;
        margin: 8rem auto 0 auto;
    }
}


@media (max-width: 490px){
    .highlights__cards{
        grid-template-columns: repeat(1, 1fr);
    }
    
}