/* Hero */
@media (min-width: 768px){
    .hero__paragraph{
        font-size: 1.8rem;
    }
}
/* Card main */
.card_main,
.card_secondary{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.20);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.20);
    background-color: var(--white);
}
.card_main{
    margin-top: -5rem;
}
.card_secondary{
    z-index: 1;
    margin-top: 10rem;
    position: relative;
}
.card_main__img{
    height: 100%;
    width: 100%;
}
.card_main__text{
    padding: 3rem 3rem 1rem 3rem;
}
.card_main__subtext{
    text-transform: uppercase;
    font-size: 1.8rem;
    color: #B3B3B3;
}
.card_main__title{
    font-size: 4.2rem;
    font-weight: 800;
    color: #7A58F7;
}
.card_main__paragraph{
    font-size: 1.8rem;
    color: #999999;
    line-height: 1.2;
}
.card_main__icons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}
.card_main__icon{
    margin-top: 2rem;
}
.card_main__icon_text{
    font-size: 1.8rem;
    color: #B3B3B3;
    line-height: 1;
}
.card_main__icon span{
    display: block;
}
.card_secondary > img{
    grid-row: 1;
    grid-column: 2;
}
.card_secondary > div{
    grid-column: 1;
}
.card_secondary > .card_main__text > h3{
    color: #F3487D;
}
/* Card steps */
.card_steps{
    position: absolute;
    width: 100%;
    height: 22rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: -15rem auto 0 auto;
    z-index: 0;
}
.card_steps__step:nth-child(1){
    background-color: #6F63E9;
}
.card_steps__step:nth-child(2){
    background-color: #F6BE43;
}
.card_steps__step:nth-child(3){
    background-color: #F3487D;
}
/* main cards */
.main{
    margin-top: 14rem;
    position: relative;
}
.main__text{
    margin: 0 auto;
    text-align: center;
    width: 70%;
    line-height: 1.2;
}
.main__text_sub{
    text-transform: uppercase;
    font-size: 1.8rem;
    color: #6F63E9;
}
.main__title{
    margin-top: 1rem;
    font-size: 3.9rem;
    color: #F3487D;
    font-weight: 800;
}
.main_paragraph{
    line-height: 1.2;
    color: #606060;
}
.cards{
    margin-top: 35rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem;
}
.card{
    display: grid;
    grid-auto-rows: 1fr;
    margin-top: -32rem;
}
  .card__content {
    text-align: center;
    line-height: 1.2;
    width: auto;
    height: auto;
    position: relative;
    padding: 5rem 4rem 0 4rem;
    color: #606060;
    margin-top: 0.2rem;
    margin-bottom: -0.05rem;
  }
  
  .card__content::before,
  .card__content::after {
    content: '';
    top: 3rem;
    left: 0;
    border: 2px rgb(240, 240, 240) solid;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  .card__content::before {
    transform: skew(0, 1deg);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 80%);
  }
  
  .card:nth-child(3n) .card__content::before{
    transform: skew(0, -1deg);
  }

  .card__content::after {
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  }

.card__title{
    font-size: 2.2rem;
    font-weight: 600;
    padding: 0 3rem;
}
.card__img{
    width: 100%;
    margin-top: 3rem;
    background: url(../../images/red.png), url(../../images/purple.png);
    height: 1.5rem;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 90%;
}
/* Card work */
.card_work{
    margin-top: -10rem;
    background-image: url(../../images/h_24.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 28em;
    color: var(--white);
    position: relative;
    z-index: 0;
}
.card_work__content{
    position: relative;
    z-index: 1;
    grid-column: 1/3;
}
.card_work__card{
    position: absolute;
    width: 32rem;
    text-align: center;
    padding: 5rem 2rem;
    border-radius: 20% 0 0 0;
    height: 47rem;
    z-index: 99;
}
.card_work__card:nth-child(1){
    background-color: #675DDA;
    border-bottom: 1rem solid #6E62E8;
    margin-top: -10rem;
}
.card_work__card:nth-child(2){
    background-color: #EAB33E;
    border-bottom: 1rem solid #C6891E;
    margin-top: -21rem;
}
.card_work__card:nth-child(3){
    background-color: #F3487D;
    border-bottom: 1rem solid #DE4574;
    margin-top: -10rem;
}
.card_work__title{
    padding-top: 2rem;
    text-transform: uppercase;
    font-size: 2.7rem;
    padding-bottom: 5rem;
    font-weight: 800;
    word-wrap: break-word;
}
.card_work__paragraph{
    line-height: 1.2;
    font-size: 1.5rem;
}

#carousel {
    height: 55rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 3;
    --middle: 2;
    --position: 1;
    pointer-events: none;
}
@media (min-width: 991px){
    .first{
        --position: 2;
    }
    .card_work__card:nth-child(1){
        left: 0;
    }
    .card_work__card:nth-child(3){
        right: 0;
    }
}
/* Contact */
.contact{
    margin-top: 8rem;
    text-align: center;
}
.contact__title{
    font-size: 3.9rem;
    font-weight: 800;
    color: #F3487D;
}
.contact__paragraph{
    color: #606060;
    line-height: 1.2;
}
.contact__form{
    margin: 0 auto;
    width: 50%;
}
.contact__form_text{
    color: #606060;
    padding: 1.6rem 20rem 1.6rem 1.4rem;
    border: 1px solid rgba(96, 96, 96, .3);
    border-radius: 50px;
    width: 100%;
}
.contact__btn{
    position: relative;
}
.contact__form_btn{
    position: absolute;
    bottom: .3rem;
    right: .4rem;
    padding: .7rem 6rem .7rem 2rem;
    border-radius: 50px;
    background-color: #F3487D;
    color: var(--white);
}
.contact__form_icon{
    position: absolute;
    bottom: -.25rem;
    right: 0;
    width: 5.5rem;
}
.mobile{
    display: none;
}

@media (max-width: 1100px){
    .container{
        width: 100% !important;
    }
    .mobile{
        display: grid;
    }
    .desktop{
        display: none;;
    }
    /* Card main */
    .card_main,
    .card_secondary{
        grid-template-columns: repeat(1, 1fr);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .card_main__img{
        margin-top: 5rem;
    }
    .card_secondary > .card_main__img{
        grid-row: 2;
        grid-column: 1;
    }
    .card_main__text{
        grid-row: 1;
    }
    .cards{
        gap: 3rem;
    }
    /* Main */
    .main{
        margin-top: 10rem;
        padding: 0 2rem;
    }
}

@media (max-width: 990px){
    .card_work{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 42rem;
    }
    .first{
        --position: 1;
    }
    .second{
        --position: 2;
    }
    .last{
        --position: 3;
    }
    .item {
        position: absolute;
        width: 300px;
        --r: calc(var(--position) - var(--offset));
        transition: all 0.25s linear;
        transform: translateX(calc(-350px * var(--r)));
    }
    
    #it1{
        --offset: 1;
    }
    
    #it2{
        --offset: 2;
    }
    
    #it3 {
        --offset: 3;
    }
    .card_work__card:nth-child(1),
    .card_work__card:nth-child(2),
    .card_work__card:nth-child(3){
        margin-top: -6rem !important;
    }
    .slider__btn {
        position: absolute;
        top: 35%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    #back{
        position: absolute;
        right: 0;
        top: 35%;
        display: none;
    }
    
    .slider__icon{
        width: 12rem;
    }
    #carousel {
        height: 55rem;
        width: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
        position: relative;
        z-index: 0;
    }
    .mobile{
        display: block;
    }
    .hero__info{
        width: 90%;
        margin: 8rem auto 0 auto;
    }
    .cards{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        row-gap: 6rem;
    }
    .contact{
        margin-top: 15rem;
    }
}

@media (max-width: 768px){
    /* Hero */
    .hero__title{
        font-size: 2.8rem;
    }
    .hero__paragraph{
        margin: 2rem auto 0 auto;
        width: 80%;
        font-size: 1.9rem;
        line-height: 1.2;
    }
    .main__text{
        width: 80%;
    }
    .main__title{
        font-size: 3.2rem;
    }
    /* Contact */
    .contact{
        padding: 0 2rem;
    }
    .contact__title{
        font-size: 2.9rem;
    }
    .contact__paragraph{
        padding: 1.5rem 0;
        width: 80%;
        margin: 0 auto;
    }
    .contact__form{
        width: 100%;
    }
}

@media (max-width: 630px){
    .cards{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 10rem;
        padding: 0 8rem;
    }
    .main__text{
        width: 95%;
    }
    .contact__paragraph{
        width: 95%;
    }
}

@media (max-width: 490px){
    .cards{
        padding: 0;
    }
    .card_main__icons{
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media (max-width: 350px){
    .card_main__icons{
        grid-template-columns: repeat(1, 1fr);
    }
}