/* Hero content */
.hero{
    background: url(../../images/fondo_1.png) no-repeat; 
    background-size: cover;
    background-position: center bottom;
    overflow: hidden;
}
.hero__infoh{
    display: flex;
    align-items: center;
    justify-content: end;
    padding-bottom: 15rem;
}
.hero__texth{
    color: var(--white);
    text-align: center;
    padding-bottom: 5rem;
}
.hero__titleh{
    font-weight: 400;
    font-size: 5.2rem;
}
.hero__titleh span,
.hero__paragraph span{
    display: block;
}
.hero__paragraphh{
    line-height: 1.2;
}
.hero__titleh span {
    font-size: 7.6rem;
    font-weight: 800;
}
.hero__imgh{
    max-width: 51%;
}
.hero__directorh{
    padding-top: 1rem;
    font-size: 1.8rem;
    letter-spacing: .5rem;
}
.hero__btnh {
    background-color: var(--purple);
    color: var(--white);
    padding: 1.5rem 2.5rem;
    font-size: 1.7rem;
}
/* Card marketing */
.card_marketing{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: -10rem auto 0 auto;
    height: 44rem;
    -webkit-box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.25); 
    box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.25);
}
.card__marketing_left{
    display: flex;
    grid-column: 1/3;
    justify-content: center;
    align-items: center;
}
.card_marketing__purple{
    background: linear-gradient(to right, #8243f8, #8243f8);;
    width: 100%;
    height: 44rem;
}
.card_marketing__gray{
    background-color: #E6E6E6;
    width: 100%;
    height: 44rem;
}
.card_marketing__img{
    background-image: url(../../images/h_41.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
}
.card_marketing__content{
    position: absolute;
    padding: 3rem;
    width: 90%;
    grid-column: 1/3;
    background-color: var(--white);
}
.card_marketing__title{
    font-size: 3.9rem;
    font-weight: 800;
    color: #FF448B;
}
.card_marketing__paragraph span{
    display: block;
    line-height: 1.5;
    color: #606060;
}
/* Main */
.cards{
    margin-top: 7rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 6rem;
    
    overflow: hidden;
}
.card{
    display: grid;
    grid-auto-rows: 1fr;
    margin-top: 0;
}
.card:nth-child(4),
.card:nth-child(5),
.card:nth-child(6){
    margin-top: calc(100% - 63rem);
}
.card__content {
    text-align: center;
    line-height: 1.2;
    width: auto;
    height: auto;
    position: relative;
    padding: 5rem 4rem 0 4rem;
    color: #606060;
    margin-top: 0.2rem;
    margin-bottom: -0.05rem;
  }
  .card__content::before,
  .card__content::after {
    content: '';
    top: 3rem;
    left: 0;
    border: 2px rgb(240, 240, 240) solid;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  .card__content::before {
    transform: skew(0, 1deg);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 80%);
  }
  
  .card:nth-child(3n) .card__content::before{
    transform: skew(0, -1deg);
  }

  .card__content::after {
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  }
.card__title{
    font-size: 2.2rem;
    font-weight: 600;
}
.card__img{
    width: 100%;
    margin-top: 3rem;
    background: url(../../images/red.png), url(../../images/purple.png);
    height: 1.5rem;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 90%;
}
/* Cards Work */
.card_work{
    overflow: hidden;
    color: var(--white);
}
.card_work__content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 5rem 10rem;
}
.card_work__card{
    text-align: center;
    padding: 3rem 2rem;
    border-radius: 20% 0 0 0;
    opacity: 0.8;
}
.card_work__card:nth-child(1){
    background-color: #675DDA;
    border-bottom: 1rem solid #6E62E8;
}
.card_work__card:nth-child(2){
    background-color: #EAB33E;
    border-bottom: 1rem solid #ECB540;
}
.card_work__card:nth-child(3){
    background-color: #F3487D;
    border-bottom: 1rem solid #DE4574;
}
.card_work__title{
    font-size: 3.5rem;
    font-weight: 800;
}
.card_work__paragraph{
    line-height: 1.2;
    font-size: 1.5rem;
}
.card_work__mobile{
    display: none;
}
.first{
    --position: 2;
}
/* Subcard Work */
@media (min-width: 1001px){
    .card_work{
        background-image: url(../../images/h_36.png);
        background-repeat: no-repeat;
        margin-top: -20rem;
    }
    .card_subwork{
        position: relative;
        z-index: 1;
        margin-top: 15rem;
        padding-left: 10rem;
        padding-right: 10rem;
        overflow: hidden;
    }
    .card_steps{
        position: absolute;
        margin: -15rem auto 0 auto;
        z-index: 0;
    }
}
.card_subwork{
    overflow: hidden;
}
.card_subwork__content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--white);
    -webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.3); 
    box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.3);
}
.card_subwork__img{
    height: auto;
}
.card_subwork__text{
    padding: 5rem 1.5rem 0 2rem;
}
.card_subwork__title{
    font-size: 3rem;
    font-weight: 400;
    color: #606060;
    padding-bottom: 2rem;
}
.card_subwork__subtitle{
    padding-right: 2rem;
    font-size: 2.7rem;
    font-weight: bold;
    color: #6F63E9;
}
.card_subwork__paragraph{
    padding-top: 2rem;
    width: 75%;
    line-height: 1.3;
    font-weight: 400;
    color: #606060;
}
/* Card steps */
.card_steps{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.card_steps__step{
    display: block;
    color: var(--white);
    padding: 0 2rem;
}
.card_steps__step p{ 
   padding-left: 7rem;
   margin: 0;
   line-height: 1.1;
}
.card_steps__title{
    padding: 20rem 0 0 0;
    font-size: 12rem;
    font-weight: bold;
}
.card_steps__step p{ 
    padding-left: 7rem;
    margin: 0;
    line-height: 1.1;
 }
.card_steps__subtitle{
    font-size: 3rem;
    padding-bottom: 3.5rem;
}
.card_steps__step:nth-child(1){
    background-color: #6F63E9;
}
.card_steps__step:nth-child(2){
    background-color: #F6BE43;
}
.card_steps__step:nth-child(3){
    background-color: #F3487D;
}

/* Card email */
.card_email{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    background-color: #F3487D;
    border-radius: 10px;
    margin-top: 45rem;
}
.card_email__img{
    margin-top: -33%;
    height: auto;
}
.card_email__content{
    padding: 7rem 0 1rem 0;
    overflow: hidden;
}
.card_email__text{
    color: var(--white);
}
.card_email__title{
    font-size: 3.9rem;
    font-weight: 800;
}
.card_email__subtitle{
    font-size: 3rem;
    margin: 0;
}
.card_email__form{
    position: relative;
    width: 75%;
}
.card_email__form_text{
    position: absolute;
    width: 100%;
    padding: 1.4rem 17rem 1.4rem 1.4rem;
    border: none;
    border-radius: 50px;
}
.card_email__btn{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    margin-right: .3rem;
}
.card_email__btn:hover{
    cursor: pointer;
}
.card_email__form_btn{    
    padding: 0.5rem 4.5rem 0.5rem 1.5rem;
    margin-top: .2rem;
    border: none;
    border-radius: 18px;
    background-color: #F3487D;
    color: var(--white);
}
.card_email__form_btn:hover{
    cursor: pointer;
}
.card_email__form_icon{
    position: absolute;
    right: 0;
    width: 4.5rem;
}

/* FAQ */
.faq{
    margin-top: 4rem;
    overflow: hidden;
}
.faq__top{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.faq__back{
    font-size: 11.3rem;
    font-weight: 100;
    color: #E6E6E6;
}
.faq__title{
    font-size: 3.9rem;
    position: absolute;
    top: 4.5rem;
    margin: 0 auto;
    color: #F3487D;
    font-weight: 800;
}
.faq__content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 4rem;
}
.faq__single{
    padding: 2rem 3rem;
    box-shadow: 0px 0px 20px -15px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 20px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -15px rgba(0,0,0,0.75);
    border-radius: 20px;
}
.faq__single_top,
.faq__multi_single{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.faq__single_title{
    font-size: 2.2rem;
    color: #6E62E8;
}
.faq__single_icon,
.faq__multi_icon{
    width: 3rem;
}
.faq__multi_single{
    margin: 1rem 0 1.8rem 0;
}
.faq__single__text{
    line-height: 1.2;
    color: #606060;
}
.faq__multi_title{
    font-size: 2rem;
    font-weight: 400;
    color: #606060;
    padding-right: 1rem;
}

@media (max-width: 1165px){
    /* Hero */
    .hero__infoh{
        margin-top: 5rem;
    }
    .card_subwork{
        padding: 0;
    }
}

@media (max-width: 1000px){
    .card:nth-child(3){
        margin-top: calc(100% - 63rem);
    }

    .first{
        --position: 1;
    }
    .second{
        --position: 2;
    }
    .last{
        --position: 3;
    }
    .card_work {
        background-color: var(--white);
        color: var(--white);
    }
    
    .card_work__card {
        text-align: center;
        padding: 3rem 2rem;
        border-radius: 20% 0 0 0;
        opacity: 0.8;
    }
    
    .slider__btn {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    .slider__icon{
        width: 6rem;
    }
    .card_work__content{
        padding: 5rem 0;
    }
    
    #carousel {
        width: 100%;
        height: 52rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transform-style: preserve-3d;
        perspective: 600px;
        --items: 3;
        --middle: 2;
        --position: 1;
        pointer-events: none;
        overflow-y: hidden;
        overflow-x: hidden;
    
    }
    
    
    .item {
        position: absolute;
        width: 300px;
        --r: calc(var(--position) - var(--offset));
        transition: all 0.25s linear;
        transform: translateX(calc(-350px * var(--r)));
    }
    
    #it1{
        --offset: 1;
    }
    
    #it2{
        --offset: 2;
    }
    
    #it3 {
        --offset: 3;
    }
    .hero__imgh{
        display: none;
    }
    .hero__titleh{
        padding-bottom: 3rem;
    }
    .hero__paragraphh{
        width: 90%;
        margin: 0 auto;
        font-size: 2.4rem;
    }
    .hero__directorh{
        font-size: 2rem;
    }

    /* Cards */
    .cards{
        padding: 0 2rem;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 6rem;
    }
    /* Work */
    .card_work{
        margin-top: -20rem ;
    }
    /* Sub Work */
    .card_subwork__content{
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        grid-template-columns: 1fr;
    }
    .card_subwork__text{
        text-align: center;
        grid-row: 1;
    }
    .card_subwork__paragraph{
        margin: 0 auto;
    }
    .card_subwork__img{
        margin: 2rem auto 0 auto;
    }
    /* Steps */
    .card_steps__step{
        padding: 0;
    }
    .card_steps__step p{
        text-align: center;
        padding: 4rem 0;
    }
    .card_steps__title{
        padding-bottom: 0 !important;
    }
    .card_steps__subtitle{
        padding-top: 0 !important;
    }
    /* email */
    .card_email{
        position: relative;
        margin-top: 45rem;
        grid-template-columns: 1fr;
    }
    .card_email__img{
        position: absolute;
        width: 63.4%;
        top: -35%;
        left: 20%;
    }
    .card_email__content{
        margin: 6rem auto 0 auto;
        padding-bottom: 12rem;
        width: 80%;
    }
    .card_email__text,
    .card_email__form{
        width: 100%;
    }
}

@media (max-width: 990px){
    .desktop{
        display: none;
    }
    .mobile{
        display: grid;
    }
    .card_marketing{
        grid-template-columns: 1fr;
    }
    .card_marketing__img{
        display: none;
    }
    .hero__infoh{
        margin-top: 12rem;
    }
    .card_email__img{
        top: -30%;
    }
    /* FAQ */
    .faq{
        margin-top: 2rem;
        padding: 0;
    }
    .faq__content{
        grid-template-columns: repeat(1, 1fr);
    }
    .faq__multi{
        padding: 0 2rem;
        grid-row: 1;
    }
    .faq__single{
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
        -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
        border-radius: 0px;
    }
    .faq__multi_title{
        font-size: 1.7rem;
    }
    .faq__single_title{
        font-size: 2rem;
    }
    .faq__single__text{
        font-size: 1.5rem;
    }
    .faq__title{
        text-align: center;
    }
}

@media (max-width: 768px){
    .card_subwork__img{
        width: 100%;
    }
    .card_steps__title{
        font-size: 8rem;
    }
    .card_steps__subtitle{
        font-size: 2.5rem;
    }
}

@media (max-width: 600px){
    .card:nth-child(2),
    .card:nth-child(3),
    .card:nth-child(4),
    .card:nth-child(5),
    .card:nth-child(6){
        margin-top: calc(100% - 70rem);
    }
    .card:nth-child(1){
        margin-top: 0;
    }
    .hero__paragraphh{
        font-size: 2rem;
    }
    .hero__titleh{
        font-size: 4.2rem;
    }
    .hero__titleh span{
        font-size: 6.2rem;
    }
    .cards{
        grid-template-columns: 1fr;
    }
    .card_email{
        margin-top: 30rem;
    }
    .card_email__img{
        left: 15%;
        width: 70%; 
        top: -20%;
    }
    .card_marketing__title{
        font-size: 2.6rem;
    }
    .card_marketing__paragraph{
        font-size: 1.4rem;
    }
    .card_steps__title{
        font-size: 6.3rem;
    }
    .card_steps__subtitle{
        font-size: 1.4rem;
    }
}

@media (max-width: 490px){
    .card_email__img{
        left: 5%;
        width: 90%;
        top: -34%;
    }
}

@media (max-width: 490px){
    .card_email__img{
        left: 0;
        width: 100%;
        top: -33%;
    }
}