/* Platforms */
.card__box,
.highlights{
    overflow: hidden;
}
.ov{
    overflow: hidden;
}
.transcale{
    transition: all .2s ease-in-out;
}
.transcale:hover{
    transform: scale(1.02); 
}
.filtbrig:hover{
    filter: brightness(1.05);
}
.platforms{
    display: flex;
    justify-content: center;
}
.platforms__content{
    display: flex;
    justify-content: center;
    background-color: var(--white);
    margin-top: -6rem;
    padding-top: 1.3rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.7); 
    box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.7);
    width: 90%;
}
.platforms__img{
    width: 90%;
}

/* Highlights */
.highlights,
.highlights__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3rem 0;
}
.highlights__text{
    width: 80%;
}
.highlights__title{
    width: 90%;
    font-size: 2.7rem;
    color: #606060;
}
.highlights__paragraph{
    line-height: 1.2;
    color: #606060;
}
.highlights__paragraph span{
    display: block;
}
.highlights__cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.highlights__card{
    padding: 0 2rem;
}
.highlights__card_title{
    font-size: 2.2rem;
    color: #606060;
}
.highlights__card_paragraph{
    color: #606060;
    line-height: 1.2;
}

/* Card */
.card{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin-top: 5rem;
}
.card__content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 4rem 2rem;
    -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.5); 
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.5);
    text-align: center;
    max-width: 85%; 
    background-color: var(--white);
    align-items: end;
}
.card__box{
    max-width: 100%;
}
.card__box:nth-child(1){
    padding-right: 2rem;
    border-right: 1px solid rgba(96, 96, 96, .1);
}
.card__title{
    font-size: 2.7rem;
    font-weight: bold;
    color: #F3487D;
}
.card__icon{
    margin-top: 1rem;
}
.card__paragraph{
    color: #606060;
    line-height: 1.3;
}
/* Card step */
.card_steps{
    position: absolute;
    width: 100%;
    height: 22rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: -15rem auto 0 auto;
    z-index: 0;
}
.card_steps__step:nth-child(1){
    background-color: #6F63E9;
}
.card_steps__step:nth-child(2){
    background-color: #F6BE43;
}
.card_steps__step:nth-child(3){
    background-color: #F3487D;
}


/* Card email */
.card_email{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    background-color: #F3487D;
    border-radius: 10px;
    margin-top: 22rem;
    height: 46rem;
}
.card_email__img{
    position: absolute;
    left: 1rem;
    bottom: 0;
    width: 35%;
}
.card_email__content{
    grid-column: 2/4;
}
.card_email__content{
    padding-top: 4rem;
}
.card_email__text{
    padding-left: 10rem;
    color: var(--white);
}
.card_email__title{
    font-size: 3.9rem;
    font-weight: 800;
}
.card_email__subtitle{
    font-size: 3rem;
    margin: 0;
    line-height: 1.2;
}
.card_email__form{
    position: relative;
    padding-left: 10rem;
}
.card_email__form_text{
    width: 90%;
    padding: 2rem 17rem 2rem 2rem;
    border: none;
    border-radius: 50px;
    margin-top: 1.5rem;
}
.card_email__form_btn:hover{
    transform: scale(1.01);
}
.card_email__btn:hover .card_email__form_icon{
    transition: all .5s ease-in-out;
    transform: translate(-140px,0);
    -webkit-transform: translate(-140px,0);
    -o-transform: translate(-140px,0); 
    -moz-transform: translate(-140px,0);
}
.card_email__btn:hover .card_email__form__text{
    transition: all .5s ease-in-out;
    transform: translate(30px,0);
    -webkit-transform: translate(30px,0);
    -o-transform: translate(30px,0); 
    -moz-transform: translate(30px,0);
}
.card_email__form__text,
.card_email__form_icon{
    transition: all .5s ease-in-out;
}
.card_email__form_text:focus {
    transform: scale(1.);
    outline: none;
    box-shadow: 0 0 10px #a1003b;
  }
.card_email__terminos{
    margin-top: .2rem;
    color: var(--white);
}
.card_email__terminos input{
    margin-top: -.2rem;
    width: 1em;
    height: 1em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
}
.card_email__terminos input:checked{
    background-color: #F6BE43;
}
.card_email__terminos span{
    margin-left: .4rem;
}
.card_email__form_btn{  
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-top: 3rem;
    margin-left: auto; 
    margin-right: auto; 
    border: none;
    border-radius: 20px;
    background-color: #F6BE43;
    color: var(--white);
    padding: .8rem 2.5rem;
    width: 19rem;
    transition: all .2s ease-in-out;
}
.card_email__form_icon{
    position: absolute;
    top: -11%;
    right: -2.5%; 
    margin-left: auto; 
    margin-right: auto; 
    width: 5.5rem;
}
.faq{
    margin-top: 12rem;
}
.mobile{
    display: none;
}

@media (max-width: 1100px){
    .container{
        width: 100% !important;
    }
    .faq{
        padding: 0 4rem;
    }
}

@media (max-width: 990px){
    .hero__info{
        width: 80%;
        margin: 8rem auto 0 auto;
    }
    .highlights__cards{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
    }
    .card__box:nth-child(1){
        padding-right: 0;
        border-right: 0;
    }
    /* Card */
    .card__content{
        display: block;
        max-width: 100%;
        padding: 0 2rem;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        margin-bottom: 4rem;
    }
    /* Steps */
    .card_steps{
        margin-top: 0rem;
        position: static;
        height: .9rem;
    }
    .card_email__img{
        width: 42%;
        height: 110%;
    }
    /* FAQ */
    .faq{
        margin-top: 2rem;
        padding: 0;
    }
}

@media (max-width: 768px){
    .mobile{
        display: grid;
    }
    .desktop{
        display: none;;
    }
    /* Hero */
    .hero__title{
        font-size: 2.8rem;
    }
    .hero__paragraph{
        margin: 2rem auto 0 auto;
        width: 50%;
        font-size: 1.9rem;
        line-height: 1.2;
    }
    
    .card_email__img{
        width: 35%;
        height: auto;
    }
    /* Platforms */
    .platforms__img{
        width: 100%;
    }

    /* highlights */
    .highlights__text{
        padding: 0 1rem;
        width: 100%;
    }
    .highlights__title{
        margin-top: 2rem;
        font-size: 2.4rem;
    }
    .highlights__paragraph span{
        margin: 0 auto;
        width: 80%;
        font-size: 1.5rem;
    }
    .highlights__cards{
        margin-top: 3rem;
    }
    .highlights__card_title{
        font-size: 1.9rem;
    }
    .highlights__card_paragraph{
        font-size: 1.4rem;
    }

    /* Card email */
    .card_email{
        display: block;
        margin-top: 35rem;
        margin-bottom: -2rem;
        border-radius: 0;
    }
    .card_email__img{
        position: absolute;
        top: -81%;
        left: 60%;
        width: auto;
    }
    .card_email__text,
    .card_email__form{
        padding: 0 3rem;
    }
    .card_email__title{
        font-size: 3.3rem;
    }
    .card_email__subtitle{
        font-size: 2.5rem;
    }
    .card_email__form_text{
        padding-right: 2rem;
        width: 100%;
    }
    .footer{
        margin-top: 0;
    }
}

@media (max-width: 600px){
    .card_email__img{
        left: 50%; 
    }
    .hero__info{
        width: 95%;
    }
    .hero__paragraph{
        width: 90%;
    }
}
@media (max-width: 490px){
    .highlights__title{
        font-size: 2rem;
    }
    .highlights__paragraph span{
        font-size: 1.3rem;
        width: 95%;
    }
    .card_email__img{
        left: 45%;
    }
    .hero__info{
        width: 90%;
        margin: 8rem auto 0 auto;
    }
    .highlights__cards{
        grid-template-columns: repeat(1, 1fr);
    }
    
}
@media (max-width: 450px){
    .card_email__img{
        left: 34%;
    }
}

@media (max-width: 360px){
    .card{
        
    }
    .card_email{
        padding-bottom: 55rem;
    }
    .card_email__img{
        top: -67.5%;
        left: 10%;
    }
    .card__icon{
        margin-top: 4rem;
    }
}